<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="anbar.Properties.Settings.strcon" connectionString="Data Source=KOSHA-E3A71D437\SQLEXPRESS;Initial Catalog=anbar1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>